.billings-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.credit-container {
    background-color: #fff;
    width: 60%;
    padding: 20px;
    border-radius: 5px;
}

.credit-container h4 {
    margin-bottom: 20px;
}

.credit-boxes {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.credit-box {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
    border-radius: 2px;
}

.credit-box.active {
    background-color: #f5f5f5;
}

.credit-box h5 {
    color: #a4a4a4;
    font-weight: 400;
    font-size: 10px;
    margin-bottom: 5px;
}

.credit-box h4 {
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 0;
}

.subcription-container {
    background-color: #fff;
    width: 60%;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

.plan-container {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 10px;
}

.plan-container p {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    color: #7e7e7e;
    font-size: 14px;
}

.plan-container h3 {
    width: 26%;
    display: flex;
}

.plan-container span {
    width: 20%;
    display: flex;
    font-size: 12px;
    background-color: rgb(198, 245, 229);
    color: green;
    border: 2px solid rgb(79, 249, 192);
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px 0;
}

.cycle-text {
    color: #7e7e7e;
    font-size: 11px;
}

.edit-btns {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.edit-payment-btn {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 14px;
    background-color: #e4e4e4;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
}

.edit-plan-btn {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 14px;
    background-color: white;
    border: 1px solid #c1c1c1;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upgrade-box {
    margin-top: 20px;
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 1px solid #d5d5d5;
}

.upgrade-box h3 {
    font-weight: 400;
    margin-bottom: 5px;
    color: #7e7e7e;
    font-size: 14px;
}

.upgrade-box select {
    border: 1px solid #d5d5d5;
    color: #7e7e7e;
}

.free-container {
    background-color: #fff;
    width: 60%;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-box-shadow: 0px 26px 37px -17px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0px 26px 37px -17px rgba(0, 0, 0, 0.55);
    box-shadow: 0px 26px 37px -17px rgba(0, 0, 0, 0.55);
}

.free-left h3 {
    font-size: 15px;
    color: rgb(0, 76, 255);
    margin-bottom: 5px;
}

.free-left p {
    color: #7e7e7e;
    font-size: 13px;
}

.free-right .view-btn {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 14px;
    background: linear-gradient(to right, rgb(98, 56, 183), rgb(0, 76, 255));
    color: #fff;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.invoice-container {
    background-color: #fff;
    width: 60%;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.invoice-container h3 {
    color: #494949;
    font-size: 15px;
    margin-bottom: 5px;
}

.invoice-container p {
    color: #7e7e7e;
    font-size: 13px;
}

.invoice-container .view-btn {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    border: 1px solid #c1c1c1;
    font-size: 14px;
    background-color: #fff;
    color: #494949;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cancel-container {
    width: 60%;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.cancel-container h3 {
    font-size: 16px;
    margin-bottom: 5px;
    color: #494949;
}

.cancel-container p {
    color: #7e7e7e;
    font-size: 13px;
}

.cancel-container button {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 11px;
    background-color: #d1d1d1;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-top: 10px;
}